header {
    text-align: center;
    background-color: #9EA3A3;
}

.main-content{
    padding-top: 15px;
    min-height: calc(100vh - 226px);
    margin-bottom: 25px;
}

.error {
    color: red;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #14592C;
}

h3 {
    text-align: center;
    color: #78ab46;
}

h6 {
    font-weight: bold;
}

.nav li a {
    color: black; 
}

.nav li a:hover {
    color: blue;
}

#liz-home-image {
  margin-right: 15px; 
  width: 100%; 
  height: 100%;
}

#beagle-home-image {
  margin-left: 15px;
  width: 125%;
  height: 100%;
}

.new-client-form-question {
    font-weight: bold;
}

.question-and-answer {
    border-bottom: 1px solid black;
    padding-block-start: 10px;
}

.question-and-answer h6 {
    font-weight: bold;
}

.image-and-text {
  display: flex;
  justify-content: flex-end;
}

footer {
    background-color: #9EA3A3;
    display: flex;
}

.footer-section-side {
    display: flex;
    width: 30%;
}

.footer-section-middle {
    flex: 1 0 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    background-color: #78ab46; 
    border-color: #78ab46;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button[type="submit"] {
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease background-color;
  }

  button[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
    border-color: rgb(214, 226, 236);
  }

  button[type="submit"]:active {
    background-color: #78ab46; 
    border-color: #78ab46;
  }

#status {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }

  #status.success {
    background-color: rgb(211, 250, 153);
  }

  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
  }

  #status-container {
    margin-top: 15px;
  }

  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
  }
}

.testimonial-container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.testimonial-container::after {
  content: "";
  clear: both;
  display: table;
}
  
.oval-image {
  border-radius: 50%;
}
  
.container span {
  font-size: 20px;
}

.client-photo {
  height: 100px;
  width: 90px;
  border-radius: 50%;
}

.client-name {
  font-weight: bold;
  text-align: center;
}

.client-testimonial {
  display: flex;
}

#puppy-banner {
  display: flex;
  width: 100%;
  height: auto;
}

#contact-information {
  display: flex;
}

#liz-contact-information-pic {
  width: 15%;
  margin-left: 15%;
  height: 100%;
}

.email-form-label {
  font-weight: bold;
  padding-top: 5px;
}