header {
    text-align: center;
    background-color: #9EA3A3;
}

.main-content{
    padding-top: 15px;
    min-height: calc(100vh - 226px);
}

.error {
    color: red;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #14592C;
}

h3 {
    text-align: center;
    color: #78ab46;
}

h5 {
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

.nav li a {
    color: black; 
}

.nav li a:hover {
    color: blue;
}

.new-client-form-question {
    font-weight: bold;
}

.question-and-answer {
    border-bottom: 1px solid black;
    padding-block-start: 10px;
}

.question-and-answer h6 {
    font-weight: bold;
}

footer {
    background-color: #9EA3A3;
    display: flex;
}

.footer-section-side {
    display: flex;
    width: 30%;
}

.footer-section-middle {
    flex: 1 0 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-photos {
    height: 100px;
    width: 90px;
}

.submit-button {
    margin-bottom: 17px; 
    background-color: #78ab46; 
    border-color: #78ab46;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}