<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container main-content">
    <h3>Contact Information</h3>
    <div id="contact-information">
        <p><b> Phone:</b> 636-495-3499; please leave a message and someone will get back to you as soon as possible.<br>
            <b>E-mail:</b> auntielizllc@gmail.com<br>
            <b>Facebook:</b> <a href="https://www.facebook.com/auntielizllc">https://www.facebook.com/auntielizllc</a><br>
            <b>Yelp:</b> <a href="https://www.yelp.com/biz/auntie-liz-hillsboro">https://www.yelp.com/biz/auntie-liz-hillsboro</a>
        </p>

        <div class="image-container-right">
            <img th:src="@{/liz-images/liz-wiley-foot-propped.jpg}" alt="Photo of Liz Wiley with her foot propped on a bucket of cleaning supplies" id="liz-contact-information-pic"/>
        </div>
    </div>
    <hr>

    <h3>Email Auntie Liz, LLC</h3>

    <section>
        <div class="container">
            <form action="https://formspree.io/f/xjvpknwg" method="post" id="email-form">
                <div class="form-row">
                    <label for="firstName" class="email-form-label">First Name</label>
                    <input class="form-control" type="text" id="firstName" name="firstName" placeholder="Jane">
                </div>

                <div class="form-row">
                    <label for="lastName" class="email-form-label">Last Name</label>
                    <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Doe">
                </div>

                <div class="form-row">
                    <label for="email" class="email-form-label">Email</label>
                    <input class="form-control" type="text" id="email" name="email" placeholder="auntielizllc@gmail.com">
                </div>

                <div class="form-row">
                    <label for="message" class="email-form-label">Message</label>
                    <textarea class="form-control" type="text" id="message" name="message" cols="30" rows="10" placeholder="Your message here..."></textarea>
                </div>

                <button type="submit" class="btn btn-primary submit-button" style="margin-top: 15px;">Submit</button>
            </form>
        </div>
        <div class="container" id="status-container">
            <span id="status"></span>
        </div>

    </section>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
<script th:src="@{script.js}"></script>
</html>