<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container main-content">
<h3>Contact Information</h3>

    <p>Phone: 636-495-3499; please leave a message and someone will get back to you as soon as possible.<br>
        E-mail: auntielizllc@gmail.com<br>
        Facebook: <a href="https://www.facebook.com/auntielizllc">https://www.facebook.com/auntielizllc</a><br>
        Yelp: <a href="https://www.yelp.com/biz/auntie-liz-hillsboro">https://www.yelp.com/biz/auntie-liz-hillsboro</a>
    </p>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>