<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<h1>Contact Information</h1>

<p>Phone: 636-495-3499; please leave a message and someone will get back to you as soon as possible.<br>
    E-mail: auntielizllc@gmail.com<br>
    Facebook: https://www.facebook.com/auntielizllc<br>
    Yelp: https://www.yelp.com/biz/auntie-liz-hillsboro</p>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>