<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container">
    <h1>FAQ</h1>

    <p>Q: Do you need to see our living space before cleaning it?<br>
        A: Seeing the area I am working with might help me get a more accurate idea of how long it will take me to clean for you but is not necessary to reserve services. I usually estimate around 20-30 minutes per room as an estimate without seeing the living space.<br><br>
        Q: Why are your services priced this way?<br>
        A: Pricing has been decided based off of comparable pricing from competing companies, industry standards, and overall cost of living/business expenses.<br><br>
        Q: Do you offer discounts?<br>
        A: Yes. Seniors, veterans, and Marymount Manor employees (past and present) receive discounted services.<br><br>
        Q: What geographical areas do you service?<br>
        A: Jefferson County, St. Louis city, St. Louis County, and some parts of Franklin County.<br><br>
        Q: How do you prefer to be paid?<br>
        A: I accept cash, check, PayPal, Venmo, Facebook payments through Messenger, and payment plans are also available.<br><br>
        Q: Regarding pet sitting, are there any animals you feel uncomfortable watching?<br>
        A: Detailed instructions for reptiles and arachnids are a must since I do not have much experience watching them.<br><br>
        Q: What if I am unhappy with the services I was provided?<br>
        A: My goal is to ensure that you are getting exactly the kind of service you require. Since housekeeping and pet sitting requires a trusting relationship, please contact me so that we can work out what needs to be changed. If it is a certain area that requires more intimate attention or if multiple employees are required to cover your home more in-depth, whatever the problem might be, I am dedicated to keeping your business.<br><br>
        Q: My things seem to be in the same spots as before I received service, why is that?<br>
        A: Unless specifically requested, none of your items will be removed from their spot unless it is to briefly clean underneath of them. If you require assistance with organizing or decreasing clutter, that is something that needs to be requested separately.<br><br>
        Q: How can I make an appointment?<br>
        A: You can contact me directly (see contact information page) or you can book services through this website or my Facebook page. When booking, please keep in mind that these appointments must be approved by me before becoming finalized and until they are finalized, spots may be taken by other clients until confirmation is complete.<br><br>
        Q: Can I request a specific housekeeper or change housekeepers?<br>
        A: Absolutely. Finding a good fit for you and your home is my priority. As of right now, I have limited options due to just opening, but I will do my best to assist in fulfilling your needs.<br><br>
        Q: Do you bring your own cleaning supplies/equipment?<br>
        A: Yes, unless otherwise requested. If someone in the house has an allergy or aversion to specific cleaning chemicals, please notify me before scheduling and I will accommodate these needs.<br><br>
        Q: Do I have to be present when you are cleaning?<br>
        A: Nope! You do not even have to be home if you have other things to attend to. Of course, if you would prefer to be present, this is perfectly fine, as well.<br><br>
        Q: Do you offer payment plan options?<br>
        A: Yes. I understand budget concerns and will accommodate to the best of my ability.<br><br>
    </p>
</div>
<footer th:replace="fragments :: footer"></footer>

</body>
</html>