<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}">Auntie Liz, LLC</title>

    <!-- Bootstrap CSS framework -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>

    <body>
        <header th:fragment="header">
            <div class="navbar-brand">
                <h1>Auntie Liz, LLC</h1>
            </div>
            <div id="navbar" class="container">
                <ul class="nav" style="justify-content: center;">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/schedule-appointment}">Schedule Appointment</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/services-and-pricing}">Services & Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/testimonials}">Testimonials</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contact-information}">Contact Information</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/faq}">FAQ</a></li>
                </ul>
            </div>
        </header>

        <footer th:fragment="footer">
            <div class="footer-section-side">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/schedule-appointment}">Schedule Appointment</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/services-and-pricing}">Services & Pricing</a></li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" th:href="@{/testimonials}">Testimonials</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contact-information}">Contact Information</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/faq}">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-section-middle"><h1>Auntie Liz, LLC</h1></div>
            <div class="footer-section-side"></div>

        </footer>
    </body>
</html>