<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container">
    <h3>About the Owner</h3>
    <div style="display: flex; justify-content: flex-start; align-items: center;">
        <div style="margin-right: 20px;">
            <img th:src="@{/index-images/brown-dog-with-towel.jpg}" alt="Wet, brown dog drying its paws off with a towel." style="height: 250px;"/>
        </div>
        <p>Hello everyone and thank you for visiting my website! While working my way through college, I took on some cleaning and odd jobs. After
            achieving my MBA, I realized that working for a big corporation was not a good fit for me. I decided to start my own housekeeping and pet
            sitting business because I enjoyed the relationships I made with my first couple of clients. I require a flexible schedule due to family
            commitments and health conditions, so starting my own business was a logical fit for my lifestyle. I find that helping others, whether it
            be through housekeeping or not, to be a fulfilling way to lead my life. Animals have always been my passion, whether it was working as a
            veterinary technician for many years or choosing this new career path. Having recently just come into business in June of 2020, I will
            admit that there is a learning curve to owning my own business and gaining clientele. COVID-19 has also provided its own, unique
            challenges. My goal is to eventually hire multiple housekeepers and expand my business, but I can’t do it without your help. Thank you
            again for your consideration!</p>
    </div>

    <h3>About Auntie Liz, LLC</h3>
    <p>Auntie Liz, LLC is a small business that offers professional housekeeping and pet sitting services to clients in St. Louis and the surrounding
        areas. After contacting me with an appointment request, you will be assigned a housekeeper and we will finalize your appointment day and time.
        When your housekeeper arrives, they will start by cleaning all of your windows. Then they will dust, disinfect, and wipe down surfaces in each
        room. For bathrooms, your housekeeper will work their way from top to bottom and end with cleaning the toilet. Floors (whether hardwood, tile,
        linoleum, or carpeting) will be completed last. Those that opt for emptying waste cans will have this service completed from room-to-room.
        All cleaning supplies and equipment will be provided by Auntie Liz, LLC unless otherwise requested. Pet sitting details will be worked out with
        the client beforehand because every pet is different!</p>

    <h3>Ecological and Community Initiatives</h3>
    <p>Auntie Liz, LLC is committed to reducing the harmful effects of landfills and pollution by applying environmentally conscious practices
        to everyday operations. I recycle all product containers after they are used, wash cleaning rags for reuse, turn off lights after cleaning
        each space, drive a gas-efficient vehicle, and conduct business primarily online to save paper, to name a few. I find that being as "green"
        as I can be, both professionally and personally, is one way I can be socially responsible.</p>

    <p>I am also committed to giving back to others. Many of my clients know my personal story--two chronically ill parents and several personal
        health conditions. It is important to me that I use my business to make a difference for personal fulfillment. I can make a difference in
        individual lives by providing the helpful services that Auntie Liz, LLC has to offer, which benefits each of my clients in various ways.
        I also offer an array of discounts to clients that fit certain criteria: veterans, elderly, nursing home employees, etc. Every one of my
        clients receives their fifth cleaning complimentary since I greatly value their patronage and support. I expand this to communities by
        contributing a portion of my weekly earnings toward various charities of my choice. So far, Auntie Liz, LLC has donated to charities such
        as: St. Jude's, Alzheimer's Association, Multiple Sclerosis Society, Animal Rescue Foundation of Missouri, Canines in Crisis, Not One More
        Vet, Active Minds, Breast Cancer Foundation, etc. If my clients wish to select a specific charity in which they want to see supported,
        they can absolutely request one. I am always looking for new ways to give back, so new ideas are always welcome!</p>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>