<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container main-content">
    <h3>Auntie Liz, LLC New Client Form</h3>
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label th:for="firstName">First Name</label>
                <input class="form-control" th:field="${newClientFormDTO.firstName}" placeholder="Jane">
                <p class="error" th:errors="${newClientFormDTO.firstName}"></p>
            </div>
            <div class="form-group col-md-6">
                <label th:for="lastName">Last Name</label>
                <input class="form-control" th:field="${newClientFormDTO.lastName}" placeholder="Doe">
                <p class="error" th:errors="${newClientFormDTO.lastName}"></p>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                <label th:for="email">Email</label>
                <input class="form-control" th:field="${newClientFormDTO.email}" placeholder="auntielizllc@gmail.com">
                <p class="error" th:errors="${newClientFormDTO.email}"></p>
            </div>

            <div class="form-group col-md-4">
                <label th:for="phoneNumber">Phone Number</label>
                <input class="form-control" th:field="${newClientFormDTO.phoneNumber}" placeholder="636-495-3499">
                <p class="error" th:errors="${newClientFormDTO.phoneNumber}"></p>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label th:for="address">Address</label>
                <input class="form-control" th:field="${newClientFormDTO.address}" placeholder="1234 Main St.">
                <p class="error" th:errors="${newClientFormDTO.address}"></p>
            </div>
            <div class="form-group col-md-6">
                <label th:for="address2">Address 2</label>
                <input class="form-control" th:field="${newClientFormDTO.address2}" placeholder="Apartment, studio, or floor">
                <p class="error" th:errors="${newClientFormDTO.address2}"></p>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label th:for="city">City</label>
                <input class="form-control" th:field="${newClientFormDTO.city}" placeholder="St. Louis">
                <p class="error" th:errors="${newClientFormDTO.city}"></p>
            </div>
            <div class="form-group col-md-4">
                <label th:for="state">State</label>
                <select id="state" class="form-control" th:field="${newClientFormDTO.state}">
                    <option value="missouri">Missouri</option>
                </select>
                <p class="error" th:errors="${newClientFormDTO.state}"></p>
            </div>
            <div class="form-group col-md-2">
                <label th:for="zipCode">ZIP</label>
                <input class="form-control" th:field="${newClientFormDTO.zipCode}" placeholder="63121">
                <p class="error" th:errors="${newClientFormDTO.zipCode}"></p>
            </div>
        </div>
        <hr/>

        <h6>Options for services rendered (choose all that apply):</h6>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.generalHousekeeping}" id="generalHousekeeping">
                <label class="form-check-label" th:for="generalHousekeeping">General housekeeping</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.laundry}" id="laundry">
                <label class="form-check-label" th:for="laundry">Laundry</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.dishes}" id="dishes">
                <label class="form-check-label" th:for="dishes">Dishes</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.carpetShampooing}" id="carpetShampooing">
                <label class="form-check-label" th:for="carpetShampooing">Carpet Shampooing</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.wallCleaning}" id="wallCleaning">
                <label class="form-check-label" th:for="wallCleaning">Wall Cleaning</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.dogBathing}" id="dogBathing">
                <label class="form-check-label" th:for="dogBathing">Dog Bathing</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.recycling}" id="recycling">
                <label class="form-check-label" th:for="recycling">Recycling</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.carWash}" id="carWash">
                <label class="form-check-label" th:for="carWash">Car wash</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.petNailTrim}" id="petNailTrim">
                <label class="form-check-label" th:for="petNailTrim">Pet nail trim</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.petEarCleaning}" id="petEarCleaning">
                <label class="form-check-label" th:for="petEarCleaning">Pet ear cleaning</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.petAnalGlandExpression}" id="petAnalGlandExpression">
                <label class="form-check-label" th:for="petAnalGlandExpression">Pet anal gland expression</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.petMedicine}" id="petMedicine">
                <label class="form-check-label" th:for="petMedicine">Assistance with pet medicine</label>
            </div>
        </div>

        <div class="form-group">
            <label class="new-client-form-question">When would you like services to be rendered?
                <select th:field="${newClientFormDTO.type}">
                    <option th:each="type : ${types}"
                            th:value="${type}"
                            th:text="${type.displayName}">
                    </option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label th:for="instructions" class="form-question">Preferences for cleaning and pet care instructions
                (an example might be non-harsh, "green" products only or skip a certain area of the house):</label>
            <textarea class="form-control" id="cleaningAndPetInstruction" th:field="${newClientFormDTO.instructions}" rows="6"></textarea>
            <p class="error" th:errors="${newClientFormDTO.instructions}"></p>
        </div>

        <h6>Options for payment:</h6>
        <p>Cash, check, Venmo, PayPal, Facebook Messenger, payment plans</p>

        <h6>Do you qualify for one of my offered discounts? (choose all that apply):</h6>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.nursingHomeEmployee}" id="isNursingHomeEmployee">
                <label class="form-check-label" th:for="nursingHomeEmployee">Nursing home employee</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.veteran}" id="isVeteran">
                <label class="form-check-label" th:for="veteran">Veteran</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:field="${newClientFormDTO.seniorCitizen}" id="isSeniorCitizen">
                <label class="form-check-label" th:for="seniorCitizen">Senior citizen</label>
            </div>
        </div>

        <h5 style="font-weight: bold;">Disclosures:</h5>
        <ol>
            <li>Time estimates will be strictly adhered to if that is expressed as a concern beforehand, but depending on the level of
                cleanliness, may go under or over the estimated time frame.</li>
            <li>Due to family commitments or personal health reasons, there may be times where I will have to cancel or reschedule services.
                Although inconvenient, Auntie Liz, LLC is a small business that came to creation for a better work-life balance.</li>
            <li>Pet sitting services are under agreement that veterinary expenses will be the sole responsibility of the pet's owner.
                Signing below indicates that you’ve read and understood our work arrangement.</li>
        </ol>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label th:for="signature" style="font-weight: bold; font-size: 1.25rem;">Client signature:</label>
                <input class="form-control" th:field="${newClientFormDTO.signature}" placeholder="Jane Doe">
                <p class="error" th:errors="${newClientFormDTO.signature}"></p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit-button">Submit</button>
    </form>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>