<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container main-content">
    <h3>Products and Pricing</h3>

    <div class="product">
        <h4>Hand Soap</h4>
        <p> <b>Description:</b> Homemade, all-natural, environmentally-friendly
            ingredients make a smooth antibacterial soap that leaves your hands clean,
            germ-free, and smelling like your favorite scent. Comes in soap dispenser.<br>
            <b>Scent options:</b> Lavender, Lemon, Orange, or Peppermint. Others
            available on request.<br>
            <b>Price:</b> $6 each with $2 shipping and handling if not picked up by the customer, orders of
            5 receive the 5<sup>th</sup> one free, reusing previous containers will get you a discount
            of $1 off of the price of a new order.</p>
    </div>

    <div class="product">
        <h4>Bar Soap</h4>
        <p> <b>Description:</b> Homemade, all-natural, environmentally-friendly
            ingredients make a smooth shower soap that leaves your whole body clean,
            germ-free, and smelling like your favorite scent without any residue left
            behind. Comes in a wrapped and tied paper package.<br>
            <b>Scent options:</b> Lavender, Lemon, Orange, or Peppermint. Others
            available on request.<br>
            <b>Price:</b> $5 each with $2 shipping and handling if not picked up by the customer, orders of
            5 receive the 5<sup>th</sup> one free.</p>
    </div>

    <div class="product">
        <h4>Hand Lotion</h4>
        <p> <b>Description:</b> Homemade, all-natural, environmentally-friendly
            ingredients make a soothing lotion that moisturizes and refreshes your hard-
            working hands while leaving them smelling like your favorite scent. Comes in
            4 oz mason jar.<br>
            <b>Scent options:</b> Lavender, Lemon, Orange, Coconut, or Peppermint. Others
            available on request.<br>
            <b>Price:</b> $5 each with $2 shipping and handling if not picked up by the customer, orders of
            5 receive the 5<sup>th</sup> one free, reusing previous containers will get you a discount
            of $1 off of the price of a new order.</p>
    </div>

    <div class="product">
        <h4>All-Purpose Cleaner</h4>
        <p> <b>Description:</b> Inspired by Liz’s deep-rooted love for Pine-Sol products,
            this homemade, all-natural, environmentally-friendly alternative is a useful
            and responsible way to disinfect multiple different kinds of surfaces. Safe on
            wood, furniture, bathrooms, counters, etc. Not recommended for windows
            due to the possibility of streaking. Available in your favorite scent. Comes in
            a small spray bottle.<br>
            <b>Scent:</b> Pine and Citrus.<br>
            <b>Price:</b> $6 each with $2 shipping and handling if not picked up by the customer, orders of
            5 receive the 5<sup>th</sup> one free, reusing previous containers will get you a discount
            of $1 off of the price of a new order.</p>
    </div>

    <div class="product">
        <h4>Air Freshener</h4>
        <p> <b>Description:</b> Homemade, all-natural, environmentally-friendly
            ingredients make a responsible air freshener like none other on the market.
            Have your home or vehicle smelling like your favorite scent without worrying
            about the quality of air left behind in its wake. Comes in a small spray
            bottle.<br>
            <b>Scent options:</b> Lavender, Lemon, Orange, or Peppermint. Others
            available on request.<br>
            <b>Price:</b> $5 each with $2 shipping and handling if not picked up by the customer, orders of
            5 receive the 5<sup>th</sup> one free, reusing previous containers will get you a discount
            of $1 off of the price of a new order.</p>
    </div>

    <p id="order-text">Place your order <a th:href="@{/products-and-pricing/product-order-form}">here</a>!</p>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>