<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container">
    <h1>Services and Pricing</h1>

    <p>Services: general housekeeping and disinfecting, wall cleaning, baseboard cleaning, carpet shampooing, pet sitting, various odd jobs.<br>
        Pricing: contact me directly for pricing to see if you qualify for a discount.
    </p>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>