<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container main-content">
    <h3>Services and Pricing</h3>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Services:</th>
            <th scope="col">Cost:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>General housekeeping and/or carpet shampooing</td>
            <td>$40 an hour or $30 with the listed discounts</td>
        </tr>
        <tr>
            <td>Pet sitting</td>
            <td>$20 per visit</td>
        </tr>
        <tr>
            <td>Car washes</td>
            <td>$20 per car, flat rate</td>
        </tr>
        <tr>
            <td>Nail trims</td>
            <td>$10 per pet; they must be cooperative or owner must be able to hold :)</td>
        </tr>
        <tr>
            <td>Ear cleanings</td>
            <td>$5 per pet</td>
        </tr>
        <tr>
            <td>Anal gland expressions</td>
            <td>$10 per pet; they must be cooperative or owner must be able to hold :)</td>
        </tr>
        <tr>
            <td>Others: per request</td>
            <td>Variable</td>
        </tr>
        </tbody>
    </table>


    <p>My first visit usually takes the longest because I will need to get acquainted with the space I am working with. After that initial visit, my work tends to go faster.
        Overall, I would <u>allot for about 20-30 minutes per room.</u></p>

    <p>If there is not a service listed that you are interested in discussing, please ask for more information by contacting me at: <u>636-495-3499</u>, messaging me on Facebook
        through the business’s page, or e-mailing: <u>auntielizllc@gmail.com.</u></p>

    <p>Pricing has been decided based off of comparable pricing from competing companies, industry standards, and overall cost of living/business expenses. <u>Exceptions to these
        prices include established clients who are grandfathered in at another price, nursing home employees, seniors, and veterans.</u> Auntie Liz will be offering a <u>
        loyalty card for repeat customers</u>. This card will offer a free fifth visit.</p>

    <p>Thank you for considering Auntie Liz, LLC for your house cleaning and pet sitting needs. Please contact us with any questions or to schedule an appointment today. </p>

    <p>Sincerely, <br>
    Liz Wiley, Owner<br>
    636-495-3499<br>
    auntielizllc@gmail.com<br>
    Facebook: @auntielizllc</p>

    <div style="display: flex; align-items: center; justify-content: center;">
        <img th:src="@{/general-images/golden-retriever-puppies.jpg}" alt="Photo of five golden retriever puppies." id="puppy-banner"/>
    </div>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>