<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container main-content">
    <h3>Services and Pricing</h3>

    <div class="container">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Services:</th>
                <th scope="col">Cost:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>General housekeeping and/or carpet shampooing</td>
                <td>$40 an hour or $30 with the listed discounts</td>
            </tr>
            <tr>
                <td>Pet sitting</td>
                <td>$20 per visit</td>
            </tr>
            <tr>
                <td>Car washes</td>
                <td>$20 per car, flat rate</td>
            </tr>
            <tr>
                <td>Nail trims</td>
                <td>$10 per pet; they must be cooperative or owner must be able to hold :)</td>
            </tr>
            <tr>
                <td>Ear cleanings</td>
                <td>$5 per pet</td>
            </tr>
            <tr>
                <td>Anal gland expressions</td>
                <td>$10 per pet; they must be cooperative or owner must be able to hold :)</td>
            </tr>
            <tr>
                <td>Others: per request</td>
                <td>Variable</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
        <img th:src="@{/general-images/golden-retriever-puppies.jpg}" alt="Photo of five golden retriever puppies." style="width: 1080px; height: 318px; margin-bottom: 17px;"/>
    </div>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>