<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>
<div class="container main-content">
    <h3>Testimonials</h3>
    <div class="container">

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/tammy_delbrugge.jpg}" alt="Photo of Tammy Delbrugge."/>
            <p class="client-name"><span>Tammy Delbrugge</span></p>
            <p class="client-testimonial">Liz has worked cleaning for my father and me for almost a year. We have both found Liz to be reliable, conscientious,
                and trustworthy. She not only cleans our houses but helps take care of our pets and deck/porch furniture too. She is going to help me clean
                out some cabinets and organize my camping equipment tomorrow. She doesn't mind our special requests...she has even baked cookies and brownies
                for us! Above all, Liz is caring. I just can't say enough about what Liz does for us and how much it means to us to have her help.</p>
        </div>

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/cherie_bauman.jpg}" alt="Photo of Cherie Bauman."/>
            <p class="client-name"><span>Cherie Bauman</span></p>
            <p class="client-testimonial">Just wanted to let people know that I met Liz about a year ago. Right from the start it was very clear to me how much she cares
                about our 4 footed babies. Not only that, but I realized she was a very kind and sincere person and I had made a new friend. How
                fortunate for me! Not too long after we met, I asked Liz if she did pet sitting. She said yes. Liz helped me with my kitties when we
                went out of town. I can't say enough about having her help when we travel. I trust her implicitly! I have no concern about my kids/pets
                when we are gone, as I know they are in the best care they could have! She is also a Vet Tech and has years of experience working with
                animals! I feel very fortunate to have met Liz and I highly recommend her to help with anyone's pets!</p>
        </div>

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/megan_and_chris_krug.jpg}" alt="Photo of Megan and Chris Krug."/>
            <p class="client-name"><span>Megan & Chris Krug</span></p>
            <p class="client-testimonial">Liz does such a great job cleaning for us! Everything is so clean, and we keep noticing little things that we didn't even realize were dirty that
                she cleaned. Liz has wonderful attention to detail and we already can’t wait until she comes back! Liz does an excellent job cleaning
                our house! She is very detail-oriented and efficient with her time, which is important to me when paying by the hour! We always find
                little things we didn't realize were dirty that Liz took care of for us. I can't recommend her enough!</p>
        </div>

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/richie_and_leah_camden.jpg}" alt="Photo of Richie and Leah Camden."/>
            <p class="client-name"><span>Richie & Leah Camden</span></p>
            <p class="client-testimonial">Liz does such a great job cleaning for us! Everything is so clean, and we keep noticing little things that we didn't even realize were dirty that
                she cleaned. Liz has wonderful attention to detail and we already can’t wait until she comes back! Liz does an excellent job cleaning
                our house! She is very detail-oriented and efficient with her time, which is important to me when paying by the hour! We always find
                little things we didn't realize were dirty that Liz took care of for us. I can't recommend her enough!</p>
        </div>

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/chelsie_troup.jpg}" alt="Photo of Chelsie with her husband and son."/>
            <p class="client-name"><span>Chelsie Troup</span></p>
            <p class="client-testimonial">Liz is great! She checked on my fur babies while I was out of town and even sent me pictures!!</p>
        </div>

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/hannah_tennant.jpg}" alt="Photo of Hannah Tennant and her boyfriend."/>
            <p class="client-name"><span>Hannah Tennant</span></p>
            <p class="client-testimonial">Amazing lady!! I would trust her with my own life! She watched my handsome man (cat) and sent pictures and videos! She treats everyone’s
                pets like they’re her own!</p>
        </div>

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/nolan_luhm.jpg}" alt="Photo of Nolan Luhm with Robert Wiley Jr."/>
            <p class="client-name"><span>Nolan Luhm</span></p>
            <p class="client-testimonial">Liz does a great job with her cleaning and she has excellent attention to detail. If there's ever any issues that are brought forth,
                she's always quick to get things sorted out. She's very hard working and shows care for her clients and I couldn't recommend her more!</p>
        </div>

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/erica_wiley.jpg}" alt="Photo of Erica Wiley and Liz Wiley."/>
            <p class="client-name"><span>Erica Wiley</span></p>
            <p class="client-testimonial">Auntie Liz is extremely helpful. Liz is caring, compassionate, thorough, and does a wonderful job cleaning. If you have a big job, of
                course it'll take longer, but it's well worth it, and her prices are comparable to others in my area (Jefferson County)! Her hours and
                days are flexible, and she always does a good job. What a great lady! I couldn't recommend a better agency! Yay for Auntie Liz!</p>
        </div>

        <div class="testimonial-container">
            <img class="client-photo" th:src="@{/testimonials-images/robert_wiley_jr.jpg}" alt="Photo of Robert Wiley Jr. and Liz Wiley."/>
            <p class="client-name"><span>Robert Wiley Jr.</span></p>
            <p class="client-testimonial">Liz is my daughter and has cleaned me and my wife’s house since we became no longer able to. She is hard-working, diligent, and honest.
                Her rates are fair, even if I didn't get a special rate as her dad! After she cleans for me, my house smells good and practically sparkles.
                It takes a lot off of my plate. She also takes care of the elderly family dog and no one could do a better job of loving that silly animal.
                I would highly recommend taking her on for housekeeping or pet care services.</p>
        </div>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>

</body>
</html>