<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>
<div class="container">
    <h3>Testimonials</h3>
    <div>
        <h5>Tammy Delbrugge</h5>
        <p>Liz has worked cleaning for my father and me for almost a year. We have both found Liz to be reliable, conscientious,
            and trustworthy. She not only cleans our houses but helps take care of our pets and deck/porch furniture too. She is going to help me clean
            out some cabinets and organize my camping equipment tomorrow. She doesn't mind our special requests...she has even baked cookies and brownies
            for us! Above all, Liz is caring. I just can't say enough about what Liz does for us and how much it means to us to have her help.
        </p>

        <h5>Megan & Chris Krug</h5>
        <p>Liz does such a great job cleaning for us! Everything is so clean, and we keep noticing little things that we didn't even realize were dirty that
            she cleaned. Liz has wonderful attention to detail and we already can’t wait until she comes back! Liz does an excellent job cleaning our house!
            She is very detail-oriented and efficient with her time, which is important to me when paying by the hour! We always find little things we
            didn't realize were dirty that Liz took care of for us. I can't recommend her enough!
        </p>

        <h5>Chelsie Troup</h5>
        <p>Liz is great! She checked on my fur babies while I was out of town and even sent me pictures!!</p>

        <h5>Hannah Tennant</h5>
        <p>Amazing lady!! I would trust her with my own life! She watched my handsome man (cat) and sent pictures and videos! She treats everyone’s
            pets like they’re her own!
        </p>

        <h5>Nolan Luhm</h5>
        <p>Liz does a great job with her cleaning and she has excellent attention to detail. If there's ever any issues that are brought forth,
            she's always quick to get things sorted out. She's very hard working and shows care for her clients and I couldn't recommend her more!
        </p>

        <h5>Erica Wiley</h5>
        <p>Auntie Liz is extremely helpful. Liz is caring, compassionate, thorough, and does a wonderful job cleaning. If you have a big job, of
            course it'll take longer, but it's well worth it, and her prices are comparable to others in my area (Jefferson County)! Her hours and
            days are flexible, and she always does a good job. What a great lady! I couldn't recommend a better agency! Yay for Auntie Liz!
        </p>

        <h5>Robert Wiley Jr.</h5>
        <p>Liz is my daughter and has cleaned me and my wife’s house since we became no longer able to. She is hard-working, diligent, and honest.
            Her rates are fair, even if I didn’t get a special rate as her dad! After she cleans for me, my house smells good and practically sparkles.
            It takes a lot off of my plate. She also takes care of the elderly family dog and no one could do a better job of loving that silly animal.
            I would highly recommend taking her on for housekeeping or pet care services.
        </p>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>

</body>
</html>